[Unit]
Description=:2000
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/maintenance-node/src/
WorkingDirectory=/home/maintenance-node/
KillMode=process
Restart=always
User=maintenance-node
Group=maintenance-node

[Install]
WantedBy=multi-user.target
